<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="/css/custom.css" rel="stylesheet"/>
    <title>Roboxy 2017</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" th:text="#{roboxy.mainsite}">Strona Główna</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" th:text="#{roboxy.info}">Info<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:text="#{roboxy.dd.about}">O nas</a></li>
                        <li><a href="#" th:text="#{roboxy.dd.sponsors}">Sponsorzy</a></li>
                        <li><a href="#" th:text="#{roboxy.dd.news}">Aktualności</a></li>
                        <li><a href="#" th:text="#{roboxy.dd.regulamins}">Regulaminy</a></li>
                        <li><a href="#" th:text="#{roboxy.dd.maps}">Informacje i mapy</a></li>

                    </ul>
                </li>
                <li><a href="/" th:text="#{roboxy.lego}">Warsztaty lego</a></li>
                <li><a href="/profile" th:text="#{roboxy.user}">Użytkownik</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<section layout:fragment="content">
    <p>Zawartość strony</p>
</section>
<!-- JavaScript plugins (requires jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>