body {
    background-color: black;
}

h1{
    color: white;
}

label{
    color: white;
}
.error{
    color: red;
    text-transform: none;
}
.navbar-brand {
    background: url(../image/logo.png);
    width: 140px;
    margin-left: 20px;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    background-color: #f5eeee;
    text-transform: uppercase;
    border-radius: 0px;

}

.navbar-collapse > li:hover {
    background-color: #e9d9d9;
}
.conteiner{
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}