<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{roboxy.loginsite}">Title</title>
</head>
W
<body>
<div class="section no-pad-bot" layout:fragment="content">
    <div class="conteiner">

        <h1 th:text="#{roboxy.loginsite.h1}">Logowanie</h1>
        <form action="login" th:action="@{/login}" method="post">

            <label th:text="#{roboxy.loginsite.username}"></label>
            <input class="form-control" name="username" type="text" th:placeholder="#{roboxy.loginsite.username}"/><br/>

            <label th:text="#{roboxy.loginsite.password}"></label>
            <input class="form-control" name="password" type="password" th:placeholder="#{roboxy.loginsite.password}"/><br/>

            <input class="btn btn-default" type="submit" th:value="#{roboxy.loginsite.login}"/> <br/>
        </form>

        <form action="register" th:action="@{/register}">
            <label>Nie masz konta? Zarejestruj się!</label>
            <input class="btn btn-default" type="submit" th:value="#{roboxy.register.register}"/>
        </form>
    </div>


</div>
</body>
</html>