<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{roboxy.profilesite}">Title</title>
</head>
<body>
<div class="section no-pad-bot" layout:fragment="content">
    <form action="logout" th:action="@{/logout}" method="post">
    <input type="submit" th:value="#{roboxy.profile.logout}"/>
    </form>
</div>
</body>
</html>