<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{roboxy.loginsite}">Title</title>
</head>
W
<body>
<div class="section no-pad-bot" layout:fragment="content">
    <div class="conteiner">
        <h1 th:text="#{roboxy.register.success}">Wiadomość</h1><br/>
        <form action="login" th:action="@{/login}">
            <input type="submit" class="btn btn-default" th:value="#{roboxy.loginsite.login}"/>
        </form>
    </div>

</div>
</body>
</html>