<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title th:text="#{roboxy.registersite}">Title</title>
</head>
<body>
<div class="section no-pad-bot" layout:fragment="content">
    <div class="conteiner">
        <h1 th:text="#{roboxy.register.h1}">Rejestracja</h1>
        <form action="register" th:action="@{/register}" method="post" th:object="${user}">

            <label th:text="#{roboxy.register.user}"></label>
            <p class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</p>
            <input class="form-control" th:field="*{login}" type="text"/><br/>

            <label th:text="#{roboxy.register.email}"></label>
            <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Login error</p>
            <input class="form-control" th:field="*{email}" type="text"/><br/>

            <label th:text="#{roboxy.register.pass}"></label>
            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Login error</p>
            <input class="form-control" th:field="*{password}" type="password"/><br/>


            <input class="btn btn-default" type="submit" th:value="#{roboxy.register.register}"/><br/>
        </form>
    </div>
</div>
</body>
</html>